name: tailormap

volumes:
  db:
  solr-data:
  prometheus-data:

services:
  tailormap:
    container_name: ${COMPOSE_PROJECT_NAME}-server
    image: ${TAILORMAP_IMAGE:-ghcr.io/tailormap/tailormap}:${VERSION:-snapshot}
    # Building is optional, only when adding extra Angular libraries with additional components
    build:
      # This GitHub repository contains an empty Angular project with the NPM packages from tailormap as
      # dependencies
      context: https://github.com/tailormap/tailormap-starter.git
      args:
        API_VERSION: ${VERSION}
        ADD_NG_LIBRARIES: ${ADD_NG_LIBRARIES:-}
        APPEND_NPMRC: ${APPEND_NPMRC:-}
    networks:
      - default
    extra_hosts:
      - host.docker.internal:host-gateway
    expose:
      - 8080
    environment:
      - "HOST=${HOST:-localhost}"
      - "SPRING_DATASOURCE_URL=jdbc:postgresql://db/tailormap"
      - "SPRING_PROFILES_ACTIVE=${SPRING_PROFILES_ACTIVE:-default}"
      - "ADMIN_HASHED_PASSWORD=${ADMIN_HASHED_PASSWORD:-}"
      # The container binds to localhost for running the tailormap container by itself in host network mode
      # Change to 0.0.0.0, so it is reachable by a reverse proxy such as Traefik
      - "SERVER_ADDRESS=0.0.0.0"
      # It's possible to configure a OIDC single sign-on configuration from the environment in addition to
      # configuring SSO configurations via the admin interface. If you deploy multiple instances with the
      # same OIDC configuration you can use the same environment file, so you don't have to configure it
      # manually multiple times.
      - "OIDC_NAME=${OIDC_NAME:-}"
      - "OIDC_ISSUER_URI=${OIDC_ISSUER_URI:-}"
      - "OIDC_CLIENT_ID=${OIDC_CLIENT_ID:-}"
      - "OIDC_CLIENT_SECRET=${OIDC_CLIENT_SECRET:-}"
      - "OIDC_CLIENT_USER_NAME_ATTRIBUTE=${OIDC_CLIENT_USER_NAME_ATTRIBUTE:-name}"
      - "OIDC_SHOW_FOR_VIEWER=${OIDC_SHOW_FOR_VIEWER:-false}"
      - "SENTRY_DSN=${API_SENTRY_DSN:-}"
      - "SOURCE_MAP_AUTH=${SOURCE_MAP_AUTH:-}"
      - "VIEWER_SENTRY_DSN=${VIEWER_SENTRY_DSN:-}"
      # Session timeout can be changed. Default is 30 minutes. You can use values like "60m" or "4h".
      - "SERVER_SERVLET_SESSION_TIMEOUT=${SERVER_SERVLET_SESSION_TIMEOUT:-}"
    restart: unless-stopped
    depends_on:
      - db

  db:
    container_name: ${COMPOSE_PROJECT_NAME}-db
    image: postgis/postgis:17-3.5-alpine
    environment:
      POSTGRES_PASSWORD: ${TAILORMAP_DB_PASSWORD:-tailormap}
      POSTGRES_USER: tailormap
      POSTGRES_DB: tailormap
      PGUSER: postgres # for pg_isready
    volumes:
      - db:/var/lib/postgresql/data
    healthcheck:
      test: 'pg_isready -U tailormap'
    restart: unless-stopped


  solr:
    container_name: ${COMPOSE_PROJECT_NAME}-solr
    image: ghcr.io/tailormap/solr:9.9.0
    profiles:
      - solr
    environment:
      TZ: Europe/Amsterdam
      # see https://solr.apache.org/guide/solr/latest/deployment-guide/taking-solr-to-production.html
      # and https://solr.apache.org/guide/solr/latest/deployment-guide/jvm-settings.html
      # for setting up a production-ready instance
      # default is 512m
      # SOLR_HEAP: 512m
      SOLR_OPTS: '${SOLR_OPTS:-} -Dsolr.environment=prod,label=Tailormap+Solr,color=#6236FF'
      SOLR_DELETE_UNKNOWN_CORES: true
    mem_swappiness: 0
    volumes:
      - solr-data:/var/solr
    depends_on:
      - db
    labels:
      traefik.enable: false
    restart: unless-stopped
    command:
      - solr-precreate
      - tailormap
    healthcheck:
      test: 'curl -s http://localhost:8983/solr/tailormap/admin/ping | grep -q "OK" || exit 1'
      start_period: 60s
      interval: 15s
      timeout: 5s
      retries: 3


  solr-metrics:
    container_name: ${COMPOSE_PROJECT_NAME}-solr-status
    depends_on:
      - solr
    image: ghcr.io/tailormap/solr:9.9.0
    profiles:
      - solr
    environment:
      TZ: Europe/Amsterdam
      PORT: 9854
      SCRAPE_INTERVAL: 15
      SOLR_URL: http://solr:8983/solr/
      SOLR_HEAP: 128m
    command:
      # this script should be in the path for the current (solr) user
      - solr-exporter


  prometheus:
    container_name: prometheus
    image: prom/prometheus:v3.5.0
    profiles:
      - prometheus
    environment:
      TZ: Europe/Amsterdam
      # Prometheus scrape/configuration file is created on startup from this environment variable
      PROM_CONFIG: |-
        global:
          scrape_interval: '1m'
        scrape_configs:
          - job_name: 'tailormap-api'
            scheme: 'http'
            static_configs:
              - targets:
                  - 'tailormap:8080'
            metrics_path: '/api/actuator/prometheus'
            metric_relabel_configs:
              - source_labels: [__name__]
                regex: '^tailormap_.*'
                action: keep
      # see: https://prometheus.io/docs/prometheus/latest/querying/api/#tsdb-admin-apis
      # and  https://prometheus.io/docs/prometheus/latest/storage/#operational-aspects
      # keep data for 1 year or 1GB by default
      CMD: >-
        --config.file=/etc/prometheus/prometheus.yml
        --web.enable-admin-api
        --storage.tsdb.retention.time=${TSDB_RETENTION_TIME:-1y}
        --storage.tsdb.retention.size=${TSDB_RETENTION_SIZE:-1GB}
    entrypoint: /bin/sh -c 'echo "$$DYNAMIC_CONFIG" > /etc/prometheus/prometheus.yml && /bin/prometheus $$CMD'
    volumes:
      - prometheus-data:/prometheus
    labels:
      traefik.enable: false
    # uncomment the following line when running on localhost
    # extra_hosts:
    #   - "tailormap:host-gateway"
    restart: unless-stopped
    healthcheck:
      test: 'wget --server-response --spider http://localhost:9090/query?query=up || exit 1'
      start_period: 60s
      interval: 15s
      timeout: 5s
      retries: 3
