@use 'angular-material-css-vars/main' as mat-css-main;
@use '@angular/material' as mat;
@use '@angular/material/theming' as mat-theming;

$custom-typography: mat.define-typography-config(
  $font-family: 'Inter, "Lucida Sans Unicode", "Lucida Grande", sans-serif',
);

@include mat-css-main.init-material-css-vars($typography-config: $custom-typography);

@include mat.radio-density(-1);
@include mat.checkbox-density(-1);
@include mat.slide-toggle-density(-1);

button.mdc-button,
button.mdc-button--outlined,
button.mdc-button--unelevated {
  border-radius: 0;
}
