@import 'ol/ol.css';

.body--is-drawing .ol-unselectable {
  touch-action: none;
}

.ol-tooltip {
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  color: white;
  padding: 4px 8px;
  opacity: 0.7;
  white-space: nowrap;
  font-size: 12px;
}

.ol-tooltip--hidden {
  display: none;
}

.ol-tooltip--moving {
  opacity: 1;
  font-weight: bold;
}

.ol-tooltip--static {
  background-color: #ffcc33;
  color: black;
  border: 1px solid white;
  opacity: 0.85;
}

.ol-tooltip--moving:before,
.ol-tooltip--static:before {
  border-top: 6px solid rgba(0, 0, 0, 0.5);
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  content: "";
  position: absolute;
  bottom: -6px;
  margin-left: -7px;
  left: 50%;
}

.ol-tooltip--static:before {
  border-top-color: #ffcc33;
}

.ol-scale-step-text {
  /* paint-order property needed to make text-stroke for small fonts look proper. Supported by Firefox and html2canvas but not Webkit.
     Text-stroke is not on the outside of the characters so 8-way shadow gives better effect. */
  /*
  -webkit-text-stroke: 3px white;
  paint-order: stroke fill;
  text-shadow: none;
  */
  text-shadow: -1px 0 white, 1px 0 white, 0 -1px white, 0 1px white, -1px -1px white, 1px 1px white, -1px 1px white, 1px -1px white;

  font-family: sans-serif;

  font-size: 16px;
}

.ol-attribution {
  bottom: calc(3 * var(--body-margin));
  top: auto;
  border-radius: 3px;
  background-color: var(--map-overlay-background-0_8);
  right: calc(var(--body-margin) - 8px);
  margin: 8px;
}

.ol-attribution:not(.ol-collapsed) {
  background: var(--map-overlay-background-0_8);
}

.ol-attribution ul {
  font-size: 14px;
  color: var(--text-color);
}

.ol-attribution ul li:not(:last-child):after {
  content: ", ";
}
